<div class="bg-white">

    
    <hr class="m-0">
  
    <div class="container">
      <div class="text-center py-5">
        <img src="../../assets/sw.jpg" alt class="ui-w-100 rounded-circle">
  
        <div class="col-md-8 col-lg-6 col-xl-5 p-0 mx-auto">
          <h4 class="font-weight-bold my-4">Sebastian Wypiór</h4>
  
          <div class="text-muted mb-4">
            Projekt zaliczeniowy ze studiów podyplmowych na kierunku <br>
            <strong>Programista frontend z Angular</strong>

          </div>
        </div>
  
        <div class="text-center">
          <a href="#" class="btn icon-btn borderless btn-outline-twitter btn-lg btn-round">
            <span class="ion ion-logo-twitter"></span>
          </a>
          <a href="#" class="btn icon-btn borderless btn-outline-facebook btn-lg btn-round">
            <span class="ion ion-logo-facebook"></span>
          </a>
          <a href="#" class="btn icon-btn borderless btn-outline-instagram btn-lg btn-round">
            <span class="ion ion-logo-instagram"></span>
          </a>
        </div>
      </div>
    </div>
    <hr class="m-0">
  
  </div>