<div class="container">
  <header class="jumbotron mb-0 mt-2 shadow">
    <div class="row">
      <img src="../../assets/s_logo.png">
    <h1>Przeglądarka artykułów</h1>
    </div>
  </header>
</div>
<div class="shadow-lg container">
  <nav class="navbar bg-dark navbar-dark navbar-expand-sm">
    <div class="navbar-nav">
      <a class="navbar-item nav-link active" href="#">Home</a>
      <a class="navbar-item nav-link active" href="#">O autorze</a>
    </div>    
  </nav>  
  <div class="row bg-secondary mx-0 px-2 py-2">
    <div class="col">
      
      <form #searchForm="ngForm" class="form-inline  justify-content-center" (ngSubmit)="loadDocs()">
        <input class="form-control mx-2" type="text" name="searchPhrase" placeholder="Fraza" required [(ngModel)]="model.searchPhrase">
        <input class="form-control mx-2" type="date" name="dateFrom" placeholder="Data od" [(ngModel)]="model.dateFrom">
        <input class="form-control mx-2" type="date" name="dateTill" placeholder="Data do" [(ngModel)]="model.dateTill">
        <select class="form-control ml-1" style="width: 130px" id="gender"
            [(ngModel)]="model.sortOrder" name="sortOrder">
            <option *ngFor="let order of sortOptions" [value]="order.value">
              {{order.display}}
            </option>
          </select>
        <button class="form-control mx-2 btn btn-primary" type="submit">Szukaj</button>
      </form>
    </div>
  </div>

  <div class="row bg-light mx-0 px-2 py-2">
    <span *ngFor="let doc of root?.response.docs">{{doc.abstract}}</span>
    

    

  </div>


</div>