
<div class="container mb-1">
    <header class="jumbotron mb-0 mt-2 shadow">
      <div class="row">
        <img src="../../assets/s_logo.png">
      <h1>Przeglądarka artykułów</h1>
      </div>
    </header>
  </div>
  <div class="shadow-lg container">
    <nav class="navbar bg-dark navbar-dark navbar-expand-sm  mb-1">
      <div class="navbar-nav">
        <a class="navbar-item nav-link active" [routerLink]="['']" routerLinkActive="router-link-active">Home</a>
        <a class="navbar-item nav-link active" [routerLink]="['/About']" routerLinkActive="router-link-active" >O autorze</a>
      </div>    
    </nav>  
  </div>
  
<router-outlet></router-outlet>


