
  <div class="container">
    <div class="row bg-secondary mx-0 px-2 py-2  mb-1">
      <div class="col">
        
        <form #searchForm="ngForm" class="form-inline  justify-content-center" (ngSubmit)="loadDocs()">
          <input class="form-control mx-2" type="text" name="searchPhrase" placeholder="Fraza" required [(ngModel)]="model.searchPhrase">
          <input class="form-control mx-2" type="date" name="dateFrom" placeholder="Data od" required [(ngModel)]="model.dateFrom">
          <input class="form-control mx-2" type="date" name="dateTill" placeholder="Data do" required  [(ngModel)]="model.dateTill">
          <select class="form-control ml-1" style="width: 130px" id="gender"
              [(ngModel)]="model.sortOrder" name="sortOrder" required>
              <option *ngFor="let order of sortOptions"  [value]="order.value">
                {{order.display}}
              </option>
            </select>
          <button [disabled]="!searchForm.valid" class="form-control mx-2 btn btn-primary" type="submit"><span *ngIf="isLoading" 
            class="spinner-border spinner-border-sm" role="status" aria-hidden="true">&nbsp; &nbsp;</span>{{btnText}}</button>
        </form>
      </div>
    </div>
  </div>
  
  
  <div class="container mb-2">
    <div class="row-block bg-light shadow-lg">
      <ul id="list-group">
        <li *ngFor="let doc of root?.response.docs" class="list-group-item"><div class="media">
          <div class="media-left align-self-center mx-3">
              <!--<img class="rounded-circle" src="https://randomuser.me/api/portraits/women/50.jpg">-->
              <!--<img class="img-fluid" src="../../assets/nyt.jpg"  width="128" height="128">-->
              <img class="img-fluid" [src]="doc.multimedia[0]?.url != null ? 'https://static01.nyt.com/' + doc.multimedia[0]?.url : '../../assets/nyt.jpg'"  width="128" height="128">
          </div>
          <div class="media-body">
              <h6>{{doc.snippet}}&nbsp;<span class="badge badge-pill badge-primary" *ngIf="(doc.pub_date | date:'yyyy-MM-dd') == (curDate | date:'yyyy-MM-dd')">NOWE</span></h6>
              <small>{{doc.pub_date | date:'yyyy-MM-dd'}}</small>
              
              <p>{{doc.lead_paragraph}}</p><br>
              <a href={{doc.web_url}} class="stretched-link">Więcej...</a>
          </div>
          <!--
          <div class="media-right align-self-center">
              <a href="#" class="btn btn-default">Contact Now</a>
          </div>
          -->
      </div></li>
      </ul>
    </div>
  </div>
    
  <router-outlet></router-outlet>
  
  
  